@CHARSET "ISO-8859-1";

.header {
	background-image: url("banner.jpg");
	background-repeat: round;
	height: 110px;
}

.logo {
	padding-top: 4px;
	padding-left: 5px;
}

.noLink {
	text-decoration: none;
	color: white;
	font-size: 50px;
	font-weight: 900;
	font-family: Segoe Script;
	padding-left: 20px;
}

.menuUl {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	height: 50px;
}

.menuLi {
	float: left;
	margin-top: 11px;
}

.name {
	float: right;
	color: white;
	padding: 14px;
}

li input {
	color: white;
	font-size: 18px;
	border: none;
	background-color: #333;
	font-family: Calibri;
	padding: 14px;
}

li input:hover {
	background-color: rgb(78, 252, 252);
	color: black;
	cursor: pointer;
}

.menulink {
	text-decoration: none;
	color: white;
	padding: 15px;
	vertical-align: middle;
}