@CHARSET "ISO-8859-1";

body {
	font-family: Calibri;
}

.context {
	padding: 15px;
	text-align: center;
}

.button {
	cursor: pointer;
	border: solid black 0.2px;
	border-radius: 5px;
	background-color: white;
	height: 25px;
	font-size: 14px;
	margin: 5px;
}

.button:hover {
	opacity: 0.5;
}

.headline {
	text-decoration: underline;
	font-size: 30px;
}

.warning {
	color: red;
}

.inputText {
	margin: 5px;
	width: 195px;
	height: 24px;
}

label, td, th {
	font-size: 18px;
}

.menuRight {
	border: solid;
	width: 30%;
}

.form {
	text-align: left;
}

.oneEvent {
	border: solid;
}